<!DOCTYPE html>
<html>
<head>
    <title>
	    Game: <%= game_name %>, Player: <%= player_name %>
    </title>
    <body>
        <h1>You are in game: "<%= game_name %>" as player "<%= player_name %>"</h1>
        <form  action="/my_submission_form_page" method="post">
            <input type="hidden" name="thread_index" value="<%= thread_index %>">
            <input type="hidden" name="submission_index" value="<%= submission_index %>">
            <div>
                <p><%= clue %></p>
            </div>
            <div>
                <label for="submission">Submission</label>
                <input type="text" id="submission" name="user_submission">
            </div>           
            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</head>
</html>
